<%= javascript_pack_tag 'hello_webpacker' %>


<div id="root__of_hello__to__webpacker">
  Hello! I am captured by webpacker
</div>

<% @admins_posts.each do |post| %>
  <p><%= post.posts.inspect %></p>
<% end %>

